.category--main {
	display:flex;
	flex-wrap:wrap;
	color:white;
}

.category--main>div {
	width: 20%;
	height: 150px;
	border-radius: 15px;
	margin: 20px;	
	background-color:black;
}
@media screen and (max-width:700px) {
	.category--main > div{
		width: 210px;
		height: 200px;
		margin-left: 30px;
	}
}

@media screen and (max-width:450px) {
	.category--main > div {
		width:80%;
	}
}
