.concerts--main {
    background-color: rgb(24,24,24);
    display: block;
    color:white;
    width: 100%;
    font-size: 0.8rem;
}

.concerts--main h1 {
    color: wheat;
    text-align: center;
    width: 100%;
}

.concerts--main>ul{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-left:5px;
    margin-right: 5px;
    margin-top: 0;
}

.concerts--single {

    width: 11rem;
    height: 23rem;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-size: 12px;
    background-color: rgba(53, 50, 50, 0.411);
    list-style-type: none;
    color: white;
    border-radius: 5%;
}

.concerts--single-image {
    min-width: 90%;
    min-height: 40%;
    padding: 10px;
    border-radius: 10%;


}
.concerts--single a:link {
    text-decoration: none;


}
@media only screen and (max-width:600px){ 

    .concerts--single {
        width: 9rem;
    }


    .concerts--main>ul{
        padding: 0;
        gap:0;
    }
    
}

.concert--button-back {
    margin: 0;
    background-color: rgb(24,24,24);
    border-radius: 20px;
    border: 5px solid black;
    margin-right: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 300ms;
    width: 30px;
    height: 30px;
    font-size: 12px;
}

.concerts--header {
    display:flex;
}