.dropdown--main--active{
	position:absolute;
	width:50%;
	height:40%;
	color:red;
	background-color:white;
	margin-top:50px;
	width:var(--width-searchbar) ;
	background-color:white;
	overflow: auto;
}

.dropdown--main{
	position:absolute;
	margin-top:50px;
	width:var(--width-searchbar);
	height:40%;
	color:red;
	background-color:white;
	display:none;
}



@media only screen and (max-width:600px) {
	.dropdown--main {
		width: var(--width-searchbar-resp);
		max-height:20%;
	}
	.dropdown--main--active {
		width: var(--width-searchbar-resp);
		max-height:50%;
		background-color:blue;
		
	}
	.dropdown--main--active>ul {
		overflow:auto;
		max-height:100%;
		margin:0;
	}
	.dropdown--main--active>ul>li {
		margin:10px;
	}
}
